/*
textfilebb white default
*/

BODY { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; color: #000; margin:0px 10px 0px 10px;background-color:#fff;

}

TABLE, TR, TD { font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 11px; color: #000; }

a:link, a:visited, a:active { text-decoration: underline; color: #000 }
a:hover { color: #465584; text-decoration:underline }

.arcade1 { background-color: #EFEFEF}


.tableborder { border: 1px solid #A29EA5;background-color:#828181; padding:0px; margin:0px; width:90% }
.tableborderG { border: none; background-color:#828181; padding:0px; margin:0px; width:90% }



input , select {
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}



.headertableblock { 
font-weight:bold; color:black; padding:2px; margin:0px; background-color: #1F1F1F;background-image:url(Default/silver.gif);
}

.challengename{
border:1px solid #000;
text-align:center;
width:150px;
}

.viewedtimes{
font-size:smaller;
color:#BCBCBC;
}
.navigation {
border:1px solid #b7b7b7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:10px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #d3d3d3; background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
 background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
 background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
 background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
 background-image: -o-linear-gradient(top, #d3d3d3, #707070);
 background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
 margin-left: 2px;
 margin-right:2px;
 font-size: 14px;
}
.navigation:hover {
border:1px solid #a0a0a0;
 background-color: #bababa; background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
 background-image: -webkit-linear-gradient(top, #bababa, #575757);
 background-image: -moz-linear-gradient(top, #bababa, #575757);
 background-image: -ms-linear-gradient(top, #bababa, #575757);
 background-image: -o-linear-gradient(top, #bababa, #575757);
 background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
 }
 .fheight {
height:50px;
overflow-y:auto; 
text-align: justify;
padding-left:5px;
padding-right:5px;
}
